/* assets/styles.css */
.stApp {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
  var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke !important;
}
p {
  color: white;
}
.st-emotion-cache-ocsh0s {
  background-color: #d41f76;
  border-color: #d41f76;
}
.st-emotion-cache-ocsh0s:hover {
  background-color: #a2165a;
  border-color: #a2165a;
  color: white;
}
.st-emotion-cache-ocsh0s:focus {
  color: white;
}
.st-emotion-cache-ocsh0s:active {
  color: white;
}
.st-emotion-cache-ocsh0s:focus:not(:active) {
  color: white;
}
.st-emotion-cache-1wivap2 {
  color: white;
}
