/* assets/styles.css */
.stApp {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
  var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
.stButton {
  background-color: #cf5821;
  border-color: #cf5821;
}
